<div class="mainview" [ngClass]="darkClass">
  <div>
    DARKMODE: 
    <button (click)="changeDarkMode('disable')">disable</button>
    <button (click)="changeDarkMode('auto')">auto</button>
    <button (click)="changeDarkMode('enable')">enable</button>
  </div>

  <div>
    COLOR:
    <button *ngFor="let c of colors" (click)="changeColor(c)">{{c}}</button>
  </div>

  
  <h1>NgxWidgtes - UI</h1>
  <h2>Button</h2>
  <div class="buttons">
    APPEARANCE:
    <button *ngFor="let a of appearances;" (click)="changeAppearance(a)">{{a}}</button>
  </div>
  <div class="buttons">
    STATE CHANGE STYLES:
    <button *ngFor="let s of stateChangeStyles;" (click)="changeStateStyles(s)">{{s}}</button>
  </div>
  <div>
    <div class="buttons">
      <ngx-button
      [appearance]="appearance"
      [stateChangeStyle]="stateChangeStyle"
      icon="lock"
      label="please click!"
      [darkmode]="darkmode"
      [color]="color"
      (click)="onClickButton($event)"
      ></ngx-button>
    
      <ngx-button
      [appearance]="appearance"
      [stateChangeStyle]="stateChangeStyle"
      label="please click!"
      [darkmode]="darkmode"
      [color]="color"
      (click)="onClickButton($event)"
      ></ngx-button>
    
      <ngx-button
      [appearance]="appearance"
      [stateChangeStyle]="stateChangeStyle"
      icon="lock"
      [darkmode]="darkmode"
      [color]="color"
      (click)="onClickButton($event)"
      ></ngx-button>

      <ngx-button
      type="link"
      url="https://yeti-app.com"
      [appearance]="appearance"
      [stateChangeStyle]="stateChangeStyle"
      icon="email"
      [darkmode]="darkmode"
      [color]="color"
      (click)="onClickButton($event)"
      ></ngx-button>  
    </div>
  </div>
  
  <div>
    <h3>Switch</h3>
    <ngx-switch
    [darkmode]="darkmode"
    [color]="color"
    ></ngx-switch>
  </div> 

  <div style="width: 300px">
    <h3>Slider</h3>
    <ngx-slider 
    [color]="color"
    [darkmode]="darkmode"
    (change)="onSliderChange($event)"
    ></ngx-slider>
  </div>
</div>
