@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{

  --ngx-form-accent: #3375C3;
  --ngx-form-accent-font: white;
  --ngx-form-primary: white;
   --ngx-form-primary-font: black;
  --ngx-form-secondary: grey;

  --ngx-form-accent-dark: yellow;
  --ngx-form-accent-font-dark: black;
  --ngx-form-primary-dark: black;
  --ngx-form-primary-font-dark: white;  
  --ngx-form-secondary-dark: black;

}

body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;

  color: black;
  background: white;
  // @media (prefers-color-scheme: dark){
  //   color: white;
  //   background: black;
  // }

}